<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/unicorn.css" />
		<!--[if lt IE 9]>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/respond.min.js"></script>
		<![endif]-->
		<style>
		#content{
			border-bottom-left-radius:0;
		}
			input[type=file]{
			  width:0px;
			  height:0px;
			  opacity: 0;
			}
			.coverlabel{
				padding:143px 120px;
			}
			#bar{
			  margin-top:-25px;
			  line-height: 4px;
			  width:0%;
			  height:5px;
			  background: #19A97B;
			  text-align: center;
			}
			#add{
				width:100%;
				height:auto;
				background: url("__PUBLIC__/Admin/img/demo/add.jpg");
				background-size:100%;
			}
		</style>
		<script>
			//图片上传
			  function uploadimg(){
			    // alert('helo');
			    //创建formdata对象
			    var fd=new FormData();
			    //获取文件对象
			    var pic=document.getElementById('cover').files[0];
			    //把文件内容追加到表单数据
			    fd.append(pic.name,pic); 
			    //发送数据
			    var xhr=new XMLHttpRequest();
			    xhr.onreadystatechange=function(data)
			      {
			      if (xhr.readyState==4 && xhr.status==200){
			          // json_obj = eval('('+xhr.responseText+')');//把JSON字符串转换成JSON对象
			          // var img = document.getElementById("ercodeurl"); //返回的二维码图片存放地址赋值给变量
			          // img.value = json_obj.content;
			          // alert('上传成功!');
			          window.location.reload();
			        }
			      }
			    xhr.open('POST','{:U('/Admin/manage/uploadimg')}',true);
			    xhr.upload.onprogress=function (ev){
			      if(ev.lengthComputable){
			        $("#bar").addClass('addc-bar');
			        // $("#upimg").addClass('addc-upimg');
			        var percent=100*ev.loaded/ev.total;
			        // document.getElementById('bar').style.width=percent+'%';
			        // var uptd = document.getElementById('add');
			        // var paddingwidth = eval(33);
			        // var totalwidth = 100 + paddingwidth / uptd.scrollWidth * 100;
			        document.getElementById('bar').style.width = percent + '%';
			        document.getElementById('bar').innerHTML=parseInt(percent)+'%';
			      }
			    }
			    xhr.send(fd);
			    //演示显示在浏览器的效果
			    // var debug=document.getElementById('debug');
			    // var tempimg=document.createElement('img');
			    // tempimg.src=window.URL.createObjectURL(pic);//把二进制对象编程浏览器的资源
			    // document.getElementsByTagName('body')[0].appendChild(tempimg);
			 }
			 function removeimg(id){
			 	$.post("remove_cover",{id:id},function(data){
			 		if(data.status == 1){
			 			alert('删除成功!');
			 			window.location.reload();
			 		}else{
			 			alert('删除失败!');
			 		}
			 	});
			 }
		</script>
	</head>	
	<body data-color="grey" class="flat"><div id="wrapper">

		<div id="content">
			<div id="content-header">
				<h1>Gallery</h1>
				<div class="btn-group">
					<a class="btn" title="Manage Files"><i class="fa fa-file"></i></a>
					<a class="btn" title="Manage Users"><i class="fa fa-user"></i></a>
					<a class="btn" title="Manage Comments"><i class="fa fa-comment"></i><span class="label label-danger">5</span></a>
					<a class="btn" title="Manage Orders"><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>首页</a>
				<a href="#" class="current">开场画面</a>
			</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-picture-o"></i>
								</span>
								<h5>开场画面列表</h5>
							</div>
							<div class="widget-content">
								<div class="gallery-masonry">
									<volist name="cover" id="v">
										<div class="item">
											<a href="#" class="thumbnail">
												<img src="{$v.url}" alt="">
										</a>
										<div class="actions">
											<div class="actions-inner">
												<a title="Edit" href="#" class="tip-top"><i class="fa fa-pencil"></i></a>
												<a title="Remove" href="javascript:void(0)" onclick="removeimg('{$v.id}')" class="tip-top"><i class="fa fa-trash-o"></i></a>
											</div>
										</div>
								    </div>
									</volist>
	                                    <div class="item">
									    	<a class="thumbnail" id="add">
												<!-- <img src="__PUBLIC__/Admin/img/demo/add.jpg" alt=""> -->
												<label for="cover" class="coverlabel"><input type="file" id="cover" name="cover" onchange="uploadimg();"></label>
											</a>
												
												<div id="bar"></div>
	                     						<div id="debug"></div>
											<!-- <div class="actions">
												<div class="actions-inner">
													<a title="Edit" href="#" class="tip-top"><i class="fa fa-pencil"></i></a>
													<a title="Remove" href="#" class="tip-top"><i class="fa fa-trash-o"></i></a>
												</div>
											</div> -->
									    </div>
								    </div>
                                </div>

							</div>
						</div>
                        
					</div>
				</div>
		</div>
	
		
            
            <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
            <script src="__PUBLIC__/Admin/js/jquery-ui.custom.js"></script>
            <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
            
            <script src="__PUBLIC__/Admin/js/jquery.nicescroll.min.js"></script>
            <script src="__PUBLIC__/Admin/js/jquery.masonry.min.js"></script>
            <script src="__PUBLIC__/Admin/js/unicorn.js"></script>
            <script>
                $(function(){
                    $('.gallery-masonry').masonry({
                      itemSelector: '.item',
                      isAnimated: true,
                      isFitWidth: true
                    });                    
                });
            </script>
	</body>
</html>
