<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{$title}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body{
                background-color: rgba(225,225,225,0.5);
            }
        	#content-bg{
        		text-align: center;
                width:100%;
                margin:0.2em 0.2em 0.2em 0;
                padding:0;
        	}
            img{max-width:99%;}
        </style>
    </head>
    <body>
    	<div id="content-bg">
	    	<div>
	    		{$content}
	    	</div>
    	</div>
    </body>
</html>